.App {
  text-align: center;
}

.googleMap{
  padding-left: 5rem;
  margin: 1rem;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
}

.homeSearchBar{
  padding-top: 35rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2rem;
  padding-left: 2rem;
  margin: 1rem;
}

.home-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
}

.cover-photo{
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 85%;
  position: fixed;
  top: 0;
  left: 0;
}

.login-container {
  margin: 1rem;
}

.individual-calculator, .split-calculator, .mortgage-rates {
  padding: 1rem;
  border: 2px solid black;
  background-color: whitesmoke
}

.profile-card {
  padding: 1rem;
  margin: 1rem;
}


.favorites-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
}