.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

#header{
  background: #161415 url('./components/coverphoto.jpg') no-repeat top center;
}

#register-header{
  background: #161415 url('./components/registerphoto.jpg') no-repeat top center;
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

.login-container {
  margin: 2rem;
} 

.register-form{
  padding: 1rem;
  margin: 1.5rem;
  border: 2px solid black;
  background-color: whitesmoke;
}

.chartHeader {
  text-align: center;
}

.googleMap{
  padding-left: 15rem;
  margin: 1rem;
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
}

#search {
  width: 100%;
  position: relative;
  display: flex;
}

#search-term {
  width: 25%;
  box-shadow: 0 8px 6px -6px black;
  padding: 5px;
  height: 35px;
  font-family: 'Lato', sans-serif;
  font-size: 20px
}

.searchTerm:focus{
  color: black;
}

.leaflet-container { 
  margin: 1rem; 
  width: 80vw;
  height: 50vh; 
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 35rem;
  padding-left: 2rem;
  margin: 1rem;
}

.house-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem;
}

.all-users-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem;
}


.individual-calculator, .split-calculator {
  padding: 1rem;
  border: 2px solid black;
  background-color: whitesmoke
}

.profile-card {
  padding: 1rem;
  margin: 1rem;
  height: max-content;
}

.favorites-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
}

.rates-container{
  margin-left: 12rem;
  margin-top: -18rem;
  margin-bottom: 1rem;
}

.mortgage-rates{
  padding: 2rem;
  border: 2px solid black;
  background-color: whitesmoke
}

.user-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 1rem;
  margin: 1rem;
}

.edit-button{
  background-color: blue;
}

#edit-profile-button{
  margin-left: 79px;
  padding: 10px
}

#avatar-image{
  padding-top: 1.1rem;
  padding-left: 0.6rem
}

#register-button {
  color: white
}